@media screen and (max-width: 920px){



  body{
    background-color: white;
    /*background-image: url(4907157.jpg);*/
    background-size: 100% auto;
    background-attachment: fixed;
    overflow: auto;


    width: 100%;

    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    box-sizing: border-box;


  }

  /* PICUTRE */
  .image1{
    width: 300px;
    height: 200px;
    overflow-x: hidden;
  }



/* HEADER */

nav{
 
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
  /*margin-left: 50px;*/
  /*margin-top: 10px;*/
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  /*font-family: 'Courier New', Courier, monospace;*/

  background-color: #bbeeff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 

  overflow-x: hidden;
  

}
  
/* ROW HEADER */

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 12px;
  

}

/* DECORATION, COLOUR OF TEXT */

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  overflow-x: hidden;
}


nav ul li a::after{
  content: ' ';
  width: 0;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}


#section1{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  overflow-x: hidden;

}

#section1 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 25px;
  margin-top: -150px;
  align-items: center;
  overflow-x: hidden;
}

.me1 h1{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 20px;

  overflow-x: hidden;

}

.me1 p{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 15px;

  overflow-x: hidden;

}

.profile-pic2 {
  width: 140px;
  height: 140px;
  border-radius: 50%; 
  align-items: center;

  margin-bottom: -190px;
  border: 3px solid #bbeeff;


  transition: transform 0.4s ease, box - shawdow 0.4s ease;

  overflow-x: hidden;


}

.profile-pic2:hover{

  transform: translateY(-10px); /* Move the image up by 10px */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */

  overflow-x: hidden;

}


.profile-pic{

  display: none;

}




#section0{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;

  overflow-x: hidden;

}

#section0 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 30px;
  margin-top: 50px;

  overflow-x: hidden;
}

.aboutMe{

  flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Centers content */
    margin-top: -100px; /* Adjust spacing if needed */
   padding-bottom: 1000px;

   


}




.text{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  text-align: justify;

 

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 13px;



  padding: 40px;



  margin-top: -200px;

}


.text p{

  text-align: justify;
  margin-bottom: -800px;
  


}


.me {
  display: flex; /* Enables Flexbox for alignment */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  margin-top: 100px;

}

.me img {
  width: 190px;
  height: auto;
  border: 5px solid #bbeeff;
  padding: 0; /* Remove excessive padding */
  margin: 0; /* Reset margin */

  margin-top: 300px;
  
}


#section12{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section12 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 30px;
  margin-top: -2100px;

}



.thumbnail-rows{

  display: block;

  margin-top: -1200px;


}

.thumbnail-container1{

  width: 60%;
  padding: 0;

  flex-direction: column;
  
  
  margin: 0 auto;


  margin-bottom: 150px;

  
}

.thumbnail-container1 img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 


  width: 100%

  
}

.description1{
  display: none;

}


/* Description text */
.description10 {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
 
  color: #555;
  text-align: center;


}


.thumbnail-container2{


  width: 60%;
  padding: 0;

  flex-direction: column;
  
  
  margin: 0 auto;


  margin-bottom: 150px;

  

}

.thumbnail-container2 img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 

  margin-top: 100px;
  
}


.description2 {
  display: none;
  
}



.description20{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: -110px;

  color: #555;
  text-align: center;

  
}

.thumbnail-container3{


  width: 60%;
  padding: 0;

  flex-direction: column;
  
  
  margin: 0 auto;


  margin-bottom: 150px;

  


}

.thumbnail-container3 img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 


  margin-top: 100px;

  
}


.description3 {
  display: none;

  
}

.description30{


  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: -110px;

  color: #555;
  text-align: center;

  

}



#section2 h1{
  font-size: 25px;
  margin-top: 60px;
  margin-left: 100px;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  
}

#section2 p{
  max-width: 700px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 100px;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  

}



#section3{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


  
}

#section3 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 30px;
  margin-top: 300px;
  
}




.projects-row{

  display: block;

  margin-top: -30px;

  

}






.drone{

  width: 60%;
  padding: 0;

  flex-direction: column;
  
  
  margin: 0 auto;


  margin-bottom: 150px;
  
  
}

.drone img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 


  width: 100%
  
  
}

.d1{
  display: none;
  overflow-x: hidden;
}


/* Description text */
.description10 {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: -110px;
  color: #555;
  text-align: center;
  overflow-x: hidden;
}


.ePortfolio{


  width: 60%;
  padding: 0;

  flex-direction: column;
  
  
  margin: 0 auto;


  margin-bottom: 150px;

  

}

.ePortfolio img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 

  margin-top: 100px;
}


.d2 {
  display: none;
}



.description20{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: -110px;

  color: #555;
  text-align: center;

}


.project{


  width: 60%;
  padding: 0;

  flex-direction: column;
  
  
  margin: 0 auto;


  margin-bottom: 150px;


}

.project img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 


  margin-top: 100px;
  
}


.d3 {
  display: none;
}

.description30{


  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: -110px;

  color: #555;
  text-align: center;


}


#section5{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section5 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 21px;
  margin-top: 300px;
}


.icons{

  display: flex;
  justify-content: center;
  margin-top: 40px;
  


}



.c{

  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%; /* Makes the icon circular */
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  font-size: 24px;

}

.c:hover{

  transform: scale(1.1); /* Slightly enlarge the icon */
  background-color: grey;


}



.icons2{

  display: flex;
  justify-content: center;
  margin-top: 40px;
  
  gap: 20px

}

.tools{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 40%; /* Makes the icon circular */
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  font-size: 20px;

}

.tools:hover{

  transform: scale(2.2); /* Slightly enlarge the icon */
  background-color: grey;


}



#section6{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section6 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 30px;
  margin-top: 50px;
}







#extraSection{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}









.text p{

  display: flex; /* Enables Flexbox for alignment */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Sets the height to fill the viewport */
  text-align: center; /* Ensures the text is centered within the box */

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 14px;
  margin-top: -490px;

  align-items: center;

  padding: 30px;

}

.image {
  display: flex; /* Enables Flexbox for alignment */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  margin-top: 100px;
}

.image img {
  width: 290px;
  height: auto;
  border: 5px solid #bbeeff;
  
}












} /*END OF PHONE-----------------------------------------*/




@media screen and (min-width: 921px){


  body{
    background-color: white;
    /*background-image: url(4907157.jpg);*/
    background-size: 100% auto;
    background-attachment: fixed;
    overflow: auto;

    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */

  }

  /* PICUTRE */
  .image1{
    width: 300px;
    height: 200px;
  }



/* HEADER */

nav{
 
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
  /*margin-left: 50px;*/
  /*margin-top: 10px;*/
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  /*font-family: 'Courier New', Courier, monospace;*/

  background-color: #bbeeff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}
  
/* ROW HEADER */

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;


}

/* DECORATION, COLOUR OF TEXT */

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  
}


nav ul li a::after{
  content: ' ';
  width: 0;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}




#section1{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;


}

#section1 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 50px;
}

.me1 h1{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 20px;

}

.me1 p{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 20px;

}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  
  margin-left: 70px;
  margin-bottom: -10px;
  border: 3px solid #bbeeff;


  transition: transform 0.4s ease, box - shawdow 0.4s ease;

}

.profile-pic:hover{

  transform: translateY(-10px); /* Move the image up by 10px */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */


}

.profile-pic2{
  display: none;
}






#section0{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section0 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 40px;
  margin-top: 50px;
}




.aboutMe{

  display:flex;
  justify-content: space-between;
  /*this makes it so i can postion the image anywhere*/
  align-items: flex-start;



  gap: 170px;

  padding: 150px;

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  margin-top: -100px;

  margin-left: -50px;


}

.text{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 18px;

  text-align: justify;

}


.text p{

  margin-bottom: 150px;
}


.me img{
  width: 310px;
  height: auto;
  

  margin-top: -90px;
  
  
  border-radius:10px;
  border: 5px solid #bbeeff;

}








#section12{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section12 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 40px;
  margin-top: -800px;
}




.thumbnail-rows {
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  gap: 10px; 
  cursor: pointer; 
  margin-top: -500px;
}

.thumbnail-container1{

  width: 20%;
  padding: 90px;
}

.thumbnail-container1 img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}



.thumbnail-container2{


  width: 20%;
  padding: 90px;

}

.thumbnail-container2 img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}

.thumbnail-container3{


  width: 20%;
  padding: 90px;

}

.thumbnail-container3 img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}


/* Description text */
.description1 {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: 10px;
  color: #555;
  text-align: center;
  font-weight:bolder;
}

.description10{
  display: none;
}

.description2 {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: 10px;
  color: #555;
  text-align: center;
  font-weight:bolder;
}

.description20{

  display: none;

}


.description3 {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  margin-top: 10px;
  color: #555;
  text-align: center;
  font-weight:bolder;
}


.description30{

  display: none;
}




#section2 h1{
  font-size: 25px;
  margin-top: 60px;
  margin-left: 100px;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

}

#section2 p{
  max-width: 700px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 100px;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;


}




#section3{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section3 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 40px;
  margin-top: 300px;
}



.projects-row{

  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  gap: -10px; 
  cursor: pointer; 
  margin-top: 10px;

}

.drone{

  width: 20%;
  padding: 20px;

  
}

.drone img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}


.ePortfolio{


  width: 20%;
  padding: 20px;

}

.ePortfolio img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}



.project{


  width: 20%;
  padding: 20px;

}

.project img{
  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}








#section5{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section5 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  font-size: 40px;
  margin-top: 300px;
}

.icons{

  display: flex;
  justify-content: center;
  margin-top: 40px;
  
  gap: 50px

}

.c{
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 40%; /* Makes the icon circular */
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  font-size: 24px;

}

.c:hover{

  transform: scale(2.2); /* Slightly enlarge the icon */
  background-color: grey;

}



.icons2{

  display: flex;
  justify-content: center;
  margin-top: 80px;
  
  gap: 50px

}

.tools{
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 40%; /* Makes the icon circular */
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  font-size: 24px;

}

.tools:hover{

  transform: scale(2.2); /* Slightly enlarge the icon */
  background-color: grey;


}




#section6{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;


}

#section6 h1{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  font-size: 40px;
  margin-top: 300px;
}




#section4{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;

  margin-top: 650px;

}






.extraSection{
  display: flex;
  align-items: flex-start; 

  justify-content: space-between;


  gap: 100px;


  padding: 120px;

}



.text p{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
 
  margin-left: 100px;
  font-size: 19px;
  margin-top: -100px;

}

.image img{
  width: 450px;
  height: 450px;
  margin-left: 100px;
  margin-top: -130px;

  margin-right: 0px;

  border: 5px solid black; /* Change 'black' to your desired color */
  border-radius: 10px; 
}











}





/*FOOTER----------*/



.footer {

  margin-top: 100px;
  height: auto; 
  padding: 20px 16px; 
  /*background: #FFFAF0; */
  background: #bbeeff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-top: 2px solid #e0e0e0; 
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}

.footer p{

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;


}






.footer-contact a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Footer Logo */
.footer-logo {
  width: 170px; /* Adjust based on your logo size */
  margin-bottom: 10px; /* Space below logo */
}


  



  



  
